<h1>Angular!</h1>

<div ng-app="app">
  <div ng-controller="pageCtrl">

  <div id="reviews">
    <li ng-repeat="review in reviews">
      {{ review }}
      <input ng-model="review">
    </li>
  </div>

  <h3>Add your own review:</h3>
  <input ng-model="newReview">
  <button ng-click="addReview(newReview)">Add Review</button>
  </div>
</div>
