<h1>Angular!</h1>

<div ng-app="app">
  <div ng-controller="pageCtrl">

  <div id="reviews">

    <li ng-repeat="review in reviews">
      {{ review }}
    </li>

  </div>

    <br />
    <input ng-model="message">
  </div>
</div>
